theme = "dark_plus"

[editor]
auto-format = true
cursorline = true
gutters = ["diff", "line-numbers", "spacer", "spacer"]
true-color = true

[editor.auto-save]
after-delay.enable = true
focus-lost = true

[editor.soft-wrap]
enable = true

[editor.lsp]
display-inlay-hints = true
display-progress-messages = true
